{% extends "base.html" %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    {% if cards|length == 0 %}

    <div class="empty-cards text-center">
        <h4>Будь первым! Кто добавит карточку.</h4>
    </div>

    {% endif %}

    {% for card in cards %}
        {% if card.project_type %}
            <div class="card">
                <div class="card-body">
                    <div class="d-flex card-head-wrapper">
                        <h3 class="card-title">{{ card.name }}</h3>
                        <div>

                        {% if card.project_type == 'startup' %}
                            <span class="badge badge-pill badge-success">Startup</span>
                        {% elif card.project_type == 'idea' %}
                            <span class="badge badge-pill badge-warning">Idea</span>
                        {% endif %}

                        </div>
                    </div>
                    <p class="card-text preline">{{ card.description }}</p>
                </div>
                <div class="card-header">Кого ждем в команду:</div>
                <ul class="list-group list-group-flush">

                    {% for employee in card.employees.all %}
                        <li class="list-group-item preline">{{ employee.employee }}</li>
                    {% endfor %}

                </ul>
                <div class="card-body">
                    <p>Контактное лицо: {{ card.contact_name }}</p>
                    <ul class="contacts">
                        <li>slack: {{ card.slack }}</li>

                        {% if card.telegram %}
                            <li>telegram: {{ card.telegram }}</li>
                        {% endif %}

                        {% if card.whatsapp %}
                            <li>whatsapp: {{ card.whatsapp }}</li>
                        {% endif %}

                    </ul>
                    <button type="button"
                            class="btn btn-outline-dark btn-sm"
                            data-toggle="modal"
                            data-target="#passwordModal{{ forloop.counter }}">Редактировать карточку</button>
                </div>

                <div class="modal fade modal-centered"
                     id="passwordModal{{ forloop.counter }}"
                     tabindex="-1"
                     role="dialog"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Введите пароль</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form class="modal-body"
                                  id="passwordForm{{ forloop.counter }}"
                                  action="{% url 'project_access_check' card.id %}"
                                  method="post">
                                {% csrf_token %}
                                <input type="password" name="password">
                            </form>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                <button type="submit" class="btn btn-primary" form="passwordForm{{ forloop.counter }}">Продолжить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% else %}

            <div class="card">
                <div class="card-body">
                    <div class="d-flex card-head-wrapper">
                        <h3 class="card-title">{{ card.name }}</h3>
                        <div>
                            <span class="badge badge-pill badge-info">Applicant</span>
                        </div>
                    </div>

                    {% if card.about_message %}
                        <p class="card-text preline">{{ card.about_message }}</p>
                    {% endif %}

                </div>
                <div class="card-header">Навыки</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item preline">{{ card.skills }}</li>
                </ul>
                <div class="card-body">
                    <ul class="contacts">
                        <li>slack: {{ card.slack }}</li>

                    {% if card.telegram %}
                        <li>telegram: {{ card.telegram }}</li>
                    {% endif %}
                    {% if card.whatsapp %}
                        <li>whatsapp: {{ card.whatsapp }}</li>
                    {% endif %}
                </ul>
            <button type="button"
                    class="btn btn-outline-dark btn-sm"
                    data-toggle="modal"
                    data-target="#passwordModal{{ forloop.counter }}">Редактировать карточку</button>
        </div>

            <div class="modal fade modal-centered"
            id="passwordModal{{ forloop.counter }}"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Введите пароль</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form class="modal-body"
                              id="passwordForm{{ forloop.counter }}"
                              action="{% url 'applicant_access_check' card.id %}"
                              method="post">
                            {% csrf_token %}
                            <input type="password" name="password">
                        </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                            <button type="submit" class="btn btn-primary" form="passwordForm{{ forloop.counter }}">Продолжить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endif %}

        {% endfor %}

{% endblock %}

{% block uparrow %}<a href="/all_cards">&uparrow; Наверх</a>{% endblock %}