{% extends "base.html" %}

{% block content %}

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-outline-success" type="submit" name="save" value="Сохранить изменения">
        <a href="{% url 'delete_applicant' applicant_id %}"
           onclick="return confirm('Уверены, что хотите удалить анкету?');"
           class="btn btn-danger">Удалить анкету</a>
        <span class="helptext lifetime">Анкета автоматически будет удалена {{ expire_time }}</span>
    </form>

{% endblock %}

{% block custom_script %}
    <script>$('[for*="DELETE"]').each(function(){$(this).text('Удалить?')});</script>
{% endblock %}
