{% extends "base.html" %}

{% block content %}

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {{ formset.as_p }}
        <input class="btn btn-outline-success" type="submit" name="save" value="Сохранить изменения">
        <a href="{% url 'delete_project' startup_id %}"
           onclick="return confirm('Уверены, что хотите удалить карточку стартапа?');"
           class="btn btn-danger">Удалить проект</a>
        <span class="helptext lifetime">Проект автоматически будет удален {{ expire_time }}</span>
    </form>

{% endblock %}

{% block custom_script %}
    <script>$('[for*="DELETE"]').each(function(){$(this).text('Удалить?')});</script>
{% endblock %}
